@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #e9e9ed;
}

.border {
    background: #e9e9ed;
    box-shadow: 11px 11px 22px #b3b3b6, -11px -11px 22px #ffffff;
}

.username {
  background: #e9e9ed;
  box-shadow: 12px 12px 24px #c6c6c9, -12px -12px 24px #ffffff;
}

.password {
    background: #e9e9ed;
    box-shadow: 12px 12px 24px #c6c6c9, -12px -12px 24px #ffffff;
}

.email {
    background: #e9e9ed;
    box-shadow: 12px 12px 24px #c6c6c9, -12px -12px 24px #ffffff;
}


.username {
    background: #e9e9ed;
    box-shadow: 11px 11px 22px #b3b3b6, -11px -11px 22px #ffffff;
  }
  
  .username:active {
    background: #e9e9ed;
    box-shadow: inset 11px 11px 22px #b3b3b6, inset -11px -11px 22px #ffffff;
  }
  
  .password {
    background: #e9e9ed;
    box-shadow: 11px 11px 22px #b3b3b6, -11px -11px 22px #ffffff;
  }
  
  .password:active {
    background: #e9e9ed;
    box-shadow: inset 11px 11px 22px #b3b3b6, inset -11px -11px 22px #ffffff;
  }

  .email {
    background: #e9e9ed;
    box-shadow: 11px 11px 22px #b3b3b6, -11px -11px 22px #ffffff;
  }
  
  .email:active {
    background: #e9e9ed;
    box-shadow: inset 11px 11px 22px #b3b3b6, inset -11px -11px 22px #ffffff;
  }

  .regrister {
    box-shadow: 11px 11px 22px #b3b3b6, -11px -11px 22px #ffffff;
  }